.row {
    margin: 0px !important;
}

.col {
    margin: 0px !important;
}

.nav {
    height: fit-content;
    background-color: #00192d;
    padding: 12px;
    font-family: Antonio;
}

.txt {
    color: #ffff;
    font: 18px sans-serif;
    padding-left: 55px;
}

.img {
    height: 68px;
    width: 172px;
}

.block1 {
    background-color: #002f5d;
    padding-top: 10px;
}

.second {
    background-color: #002f5d;
    font-family: Antonio;
}

.step-into {
    padding: 70px 50px 0;

    p {
        font-size: 14px;
    }
}

.bg-light {
    border-radius: 10px;
    padding: 10px;
}

.search {
    background-color: #002f5d;
}

.card-content {
    background-color: #002f5d;
    border-radius: 15px;
    cursor: pointer;
}

.card-content:hover {
    transform: scaleX(1.1) scaleY(1.15);
    transition: all 0.3s ease-in;
    font-weight: 600;
    cursor: pointer;
}

.card-body-content {
    padding-top: 25vh;
}

@media screen and (max-width: 991px) {
    .card-content {
        margin-top: 20px;
    }
}

.fifth {
    background-color: #60acf5;
    display: inline-flex;
}

.text-dark {
    position: absolute;
    transform: translate(14%, -335%);
    width: inherit;
    line-height: 2px;
}

.card-body h4 {
    font-weight: 700;
}

@media screen and (max-width: 991px) {
    .card-content2 {
        margin-top: 20px;
    }
}

.content-img {
    border-radius: 20px;
}

.list-unstyled li{
    text-decoration: none !important;
    list-style: none !important;
}



.padding {
    padding: 0;
}

.img2 {
    /* height: 700px; */
    width: 100%;
    padding: 70px 50px 0;
}

.txt2 {
    font-size: 20px;
    color: #ffff;
    /* margin: 45px; */
}

.txt3 {
    font-size: 47px;
    font-family: Antonio;
}

.button {
    background-color: #f4897d;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 700;
}

.block2 {
    background-color: #f7553d;
    padding: 50px;
}

.txt4 {
    font-size: 45px;
    text-align: center;
    display: flow;
    font-weight: 550;
    color: #00192d;
}

.block3 {
    display: flow-root;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 10px 0 0 12px;
}

.button2 {
    background-color: #002f5d;
    color: #ffff;
    font-size: 20px;
    border-radius: 4%;
}

.block4 {
    padding: 90px;
}

.block5 {
    color: #ffff;
    border-radius: 3%;
    background-color: #002f5d;
    /* height: fit-content; */
    /* margin-left: 20px; */
    /* font-size: 18px; */
    font-weight: 700;
}

:hover.block5 {
    transform: scaleX(1.1) scaleY(1.15);
    transition: all 0.3s ease-in;
    font-weight: 600;
    cursor: pointer;
}

.block6 {
    display: inline-flex;
    background-color: #60acf5;
}

.icon {
    padding-left: 20px;
}

.button3 {
    background-color: #002f5d;
    font-size: 12px;
    color: #f7553d;
}

.txt5 {
    display: inline-block;
    position: absolute;
    transform: translate(-84%, 91%);
}

@media screen and (max-width: 767px) {
    .txt5 {
        transform: translate(-227%, 49%);
    }
}

@media screen and ((min-width: 768px) and (max-width: 1024px)) {
    .txt5 {
        transform: translate(-81%, 27%);

    }
}

.sixth {
    background-color: #f7553d;
   padding: 50px;
   border-radius: 20px;
}

/* .block7 {
    
    background-color: #f7553d;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
} */

.text1 {
    font-size: 35px;
    font-weight: 700;
    font-family: jost;
}

.text2 {
    font-weight: 800;
    cursor: pointer;
}

.sample {
    display: inline-flex;
}

.margin {
    margin: 100px 0;
}

.sample1 {
    margin: 20px;
    background-color: #002f5d;
    color: #ffff;
    border-radius: 10px;
    transform: translate(2%, 43%);
}

.sample2 {
    margin: 0px;
    background-color: #002f5d;
    color: #ffff;
    border-radius: 10px;
    transform: translate(5%, -3%);
}

.button4 {
    border: 2px solid #002f5d;
    background-color: #f7553d;
    border-radius: 5px;
    color: #ffff;
    padding: 5px;
}

.block8 {
    background-color: #60acf5;
    width: 75%;
    /* height: 580px; */
    border-radius: 15px;
    padding: 20px;
    /* display: flex; */
}

.text3 {
    font-size: 42px;
    font-weight: 700;
    margin: 130px -20px 36px 0px;
    text-align: justify;
}

.block9 {
    border: solid #002f5d 1.5px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    color: #002f5d;
}

.button5 {
    background-color: #f7553d;
    border-radius: 8px;
    color: #ffff;
    padding: 5px 20px 5px 20px;
    border: 0;
}

.text4 {
    font-weight: 650;
    font-size: 15px;
}

.text5 {
    font-size: 12px;
}

.text {
    text-align: center;
    color: #ffff;
    padding: 23px 23px;
}

.text8 {
    color: #f7553d;
    font-weight: 700;
    font-size: 20px;
}

.text6 {
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
}

.text7 {
    font-size: 20px;
}

.col1 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    line-height: 35px;
}

.col2 {
    color: white;
    font-size: 16px;
    line-height: 45px;
}

.col3 {
    border: 2px solid gold;
    font-size: 35px;
    color: #ffff;
    font-weight: 700;
}

.form {
    color: #f7553d;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 40.439px;
    background: transparent;
    border: none;
    outline: none;
    padding: 2px 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 40px;
}

.text-right {
    text-align: right;
}